
  
  .employeeContainer {
    display: flex;
    flex-direction: column;
  }
 
 

 #container {
    overflow: hidden;
     padding: 20px 20px 20px 20px;
}

#tree {
    float: left;
    width: 50%;
}

#treeForm {
    float: right;
    width: 50%;
}   