<div>
  <tabset #mainTabs>
    <tab heading="Products" *ngIf="authService.hasRole('employees')" 
      (select)="changeTabEvent($event)">
      <app-products-menu *ngIf="(tabLabel === 'Products' || productsMenuComponent)"></app-products-menu>
    </tab>
      <tab heading="Employees" *ngIf="authService.hasRole('employees')"
      (select)="changeTabEvent($event)">
      <app-employees-menu *ngIf="(tabLabel === 'Employees' || employeesMenuComponent)"></app-employees-menu>
    </tab>
    
    <tab *ngFor="let tabz of mainMenuTab.tabs"
         [heading]="tabz.title"
         [active]="true"
         (select)="tabz.active = true"
         (deselect)="tabz.active = false"
         [disabled]="tabz.disabled"
         [removable]="tabz.removable"
         (removed)="removeTabHandler(tabz)"
         [customClass]="tabz.customClass">
      <div [ngSwitch]="tabz?.content">
         <app-employee-menu [tabId]="tabz.tabId" *ngSwitchCase="'employee'"></app-employee-menu>
         <app-role-menu [tabId]="tabz.tabId" *ngSwitchCase="'role'"></app-role-menu>
         <app-route-menu [tabId]="tabz.tabId" *ngSwitchCase="'route'"></app-route-menu>
         <app-product-menu [tabId]="tabz.tabId" *ngSwitchCase="'product'"></app-product-menu>
    </div>
    </tab>
  </tabset>
</div>