<div class="divContainer">
  <mat-card>
    <form class="myrow" [formGroup]="myForm" (ngSubmit)="submitForm(myForm.value)">
      <mat-form-field class="employeeContainer p-10">
        <input matInput placeholder="Route Name" [formControl]="myForm.controls['route']" required>
        <mat-error *ngIf="myForm.controls['route'].hasError('required') && myForm.controls['route'].touched">
          Route Name is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="employeeContainer p-10">
        <mat-select placeholder="Method" [formControl]="myForm.controls['method']" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let method of methods" [value]="method.value">
            {{method.key}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="myForm.controls['method'].hasError('required')">Please choose an method</mat-error>
        <mat-hint>{{myForm.controls['method'].value?.sound}}</mat-hint>
      </mat-form-field>
      <mat-form-field class="employeeContainer p-10">
        <input [(ngModel)]="roleId" matInput placeholder="Role" [formControl]="myForm.controls['roleId']">
        <mat-icon matSuffix (click)="searchRoles()">search</mat-icon>
        <mat-error *ngIf="myForm.controls['roleId'].hasError('required') && myForm.controls['roleId'].touched">
          Route Name is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button class="employeeContainer p-10" mat-button type="submit" [disabled]="!myForm.valid">Submit</button>
    </form>
  </mat-card>
</div>

<div class="divContainer">
  <mat-card>
    <mat-table #table [dataSource]="dataSource">

      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="routeId">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.routeId}}</mat-cell>
        <mat-cell></mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="route">
        <mat-header-cell *matHeaderCellDef> Route </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.route}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.role.role}} </mat-cell>
      </ng-container>

        <ng-container matColumnDef="method">
        <mat-header-cell *matHeaderCellDef> Method </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.method}} </mat-cell>
      </ng-container>

      <!-- Delete Column-->
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> Delete</mat-header-cell>
        <mat-cell *matCellDef="let index">
          <button mat-button color="warn" (click)="deleteRow(index.routeId)">Delete</button>
        </mat-cell>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
        <mat-cell *matCellDef="let index, let element">
          <button mat-button color="warn" (click)="addNewTab(element)"> Edit </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>
</div>