<mat-toolbar color="primary">
    <!--<button mat-button routerLink="/">
    <mat-icon>home</mat-icon> 
        {{title}}</button>-->
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button *ngIf="isAuthenticated" (click)="logout()">Logout</button>
        <button mat-button routerLink="/dashboard">Dashboard</button>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
     <mat-icon>menu</mat-icon>
    </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item *ngIf="isAuthenticated" (click)="logout()">Logout</button>
    <button mat-menu-item routerLink="/dashboard">Dashboard</button>
    <!--<button mat-menu-item>Help</button>-->
</mat-menu>
<div id="mainMenu">
<app-main-menu *ngIf="isAuthenticated"></app-main-menu>
</div>
<app-sign-in (onLogin)="onLogin($event)" *ngIf="!isAuthenticated"></app-sign-in>