<mat-card>
  <form [formGroup]="employeeForm" (ngSubmit)="editEmployee(employeeForm.value)">

    <mat-card class="employee-card">
      <table>
        <tr class="employeeTable">
          <mat-form-field class="employeeContainer">
            <input matInput placeholder="First Name" [formControl]="employeeForm.controls['name']">
            <mat-error *ngIf="employeeForm.controls['name'].hasError('required') && employeeForm.controls['name'].touched">
              First Name is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </tr>
        <tr class="employeeTable">
          <mat-form-field class="employeeContainer">
            <input matInput placeholder="Last Name" [formControl]="employeeForm.controls['family']">
            <mat-error *ngIf="employeeForm.controls['family'].hasError('required') && employeeForm.controls['family'].touched">
              Last Name is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </tr>
        <tr>
          <button mat-button type="submit" [disabled]="!employeeForm.valid" >Save</button>
        </tr>
      </table>
    </mat-card>

  </form>
</mat-card>
