<div class="divContainer">
  <mat-card>
    <div id="container">
      <div id="treeForm">
        <form [formGroup]="myForm" (ngSubmit)="submitForm(myForm.value)">
          <mat-form-field class="employeeContainer">
            <input matInput placeholder="Role" [formControl]="myForm.controls['name']">
            <mat-error *ngIf="myForm.controls['name'].hasError('required') && myForm.controls['name'].touched">
              Role is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <button mat-button type="submit" [disabled]="!myForm.valid">{{action}}</button>
        </form>
      </div>
      <div id="tree">
        <tree-root #tree [nodes]="nodes" [options]="options" (focus)="onFocus($event)">
          <ng-template #treeNodeTemplate let-node let-index="index">
            <span [class]="node.data.className + 'Index'">{{ node.data.name }}</span>
            <button mat-icon-button>
    <mat-icon aria-label="Delete" (click)="delete(node)">delete</mat-icon>
  </button>
            <button mat-icon-button>
    <mat-icon aria-label="Add" (click)="add(node)">add</mat-icon>
  </button>
            <button mat-icon-button>
    <mat-icon aria-label="Edit" (click)="edit(node)">edit</mat-icon>
  </button>
          </ng-template>
        </tree-root>
      </div>
    </div>
  </mat-card>
</div>