<mat-card>
    <form  [formGroup]="employeeForm" (ngSubmit)="submitForm(employeeForm.value)">

        <mat-form-field class="employeeContainer">
            <input matInput placeholder="First Name" [formControl]="employeeForm.controls['name']">
            <mat-error *ngIf="employeeForm.controls['name'].hasError('required') && employeeForm.controls['name'].touched">
                First Name is
                <strong>required</strong>
            </mat-error>
        </mat-form-field>


        <mat-form-field class="employeeContainer">
            <input matInput placeholder="Last Name" [formControl]="employeeForm.controls['family']">
            <mat-error *ngIf="employeeForm.controls['family'].hasError('required') && employeeForm.controls['family'].touched">
                Last Name is
                <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="employeeContainer">
            <input matInput placeholder="Email" [formControl]="employeeForm.controls['email']">
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="employeeForm.controls['email'].hasError('email') && !employeeForm.controls['email'].hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="employeeForm.controls['email'].hasError('required') && employeeForm.controls['email'].touched">
                Email is
                <strong>required</strong>
            </mat-error>
        </mat-form-field>
    
    <button mat-button type="submit" [disabled]="!employeeForm.valid">Submit</button>
</form>
</mat-card>