body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
   
  }

  .divContainer{
    padding: 20px 20px 20px 20px;
  }
  
  .employeeContainer {
    font-size: 10pt;   
    width: 50%;
  }
 
 

 